{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container" style="background-color:#ffffff">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p> This is Boddeda Sumasree. I am pursuing Btech final year in Rajiv Gandhi University of Knowledge and Technologies,Ongole campus in the stream of Computer Science & Engineering . I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Boddeda Sumasree</p>
            <p>Contact No: +91-6301474588</p>
            <p>Email: o170106@rguktong.ac.in</p>
            <p>Location: Ongole,523225</p>
        </div>
    </br>
</div>{% endblock%}
